@import "../colours.scss";

$hoverColour: lighten($primary, 10%);

button {
  background: $primary;
  border: none;
  color: $background;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 3px solid $black;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
  }
  &:focus,
  &:hover {
    outline: none;
    background: $hoverColour;
  }

  &.outline {
    background: transparent;
    border: 2px solid $primary;
    color: $primary;
    &:focus,
    &:hover {
      outline: none;
      border-color: $hoverColour;
    }
  }

  &.small {
    font-size: 0.75rem;
    padding: 0.5rem;
    * {
      font-size: 1rem;
    }
  }

  &.unstyled,
  &.icon {
    background: none;
    border: none;
    outline: initial;
    &::after {
      content: none;
    }
  }

  &.icon {
    color: $primary;
    &:focus,
    &:hover {
      outline: none;
      color: $hoverColour;
    }
  }
}
