// @import "./palette/bubblegum.scss";
@import "./palette/soiree.scss";

$primary: $palettePrimary;
$secondary: $paletteSecondary;
$accent: $paletteAccent;

$text: $primary;
$background: $paletteBackground;

$white: $paletteWhite;
$black: $paletteBlack;
