$palettePrimary: #4fcdff; // Orchid Crayola
$paletteSecondary: #ff99e9; // Vivid sky blue
$paletteDark: #2e4760; // Indigo Dye
$paletteAccent: #49dcb1; // Medium Aquamarine

$paletteBlack: #03110d; // Dark Jungle Green
$paletteWhite: #fff;

$paletteBackground: $paletteWhite;
