$palettePrimary: #ffe49a; // Orchid Crayola
$paletteSecondary: white; // Vivid sky blue
$paletteDark: #2e4760; // Indigo Dye
$paletteAccent: #49dcb1; // Medium Aquamarine

$paletteBlack: #070a0e; // Dark Jungle Green
$paletteWhite: white;

$paletteBackground: radial-gradient(lighten($paletteBlack, 10%), $paletteBlack);
