@import "src/styles/colours.scss";

.title-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid $primary;
  padding: 0 1rem 1rem;
  margin: 0 -1rem 1rem;
  > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: baseline;
  }
  .app-name {
    margin-right: 1rem;
    font-size: 2.25rem;
  }
  .subtitle {
    margin-right: auto;
  }
}

.randomize-btn {
  // margin-top: -0.5rem;
  // align-self: flex-end;
}
